cb {
color:#4A52E1;
}

cg {
    color: #40E348;
}

cl {
    color:  #60ABEF;
}

cj {
    color: #32C8FF;
}

cy {
    color: #FFFF00;
}

co {
    color: #FFA54B;
}

cr {
    color: #FF5A5A;
}

cp {
    color: #FF00FF;
}

ccDefault {
    color: #FF0000;
}